<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-signin' }) do |f| %>

  <h2 class="form-signin-heading">Please sign in</h2>

<%= f.text_field :email, :class => "form-control", :placeholder => "Email", :autofocus => true %>
<%= f.text_field :password, :class => "form-control", :placeholder => "Password", :type => "password" %>

<%= f.submit 'Sign in', :class => "signin_button btn btn-lg btn-primary btn-block" %>

<br /><%= link_to "Forgot your password?", new_password_path(resource_name) %>

<% end %>


