<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= render 'layouts/shim' %>
</head>
<body>
  <div id="wrap-everything">
    <%= render 'layouts/header' %>

    <div id="main_container">
      <div class="container">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>

</body>
</html>